<div class="3u">
	<section id="sidebar1">
		<header>
			<h3>Dates</h3>
		</header>
		<ul class="style3">
			<li class="first">
				<p>Submission:<br> {{ site.Params.submission }}</p>
				<p>Author Notification:<br> {{ site.Params.notification }}</p>
				<p>Workshop:<br> {{ site.Params.workshop }}</p>
			</li>
		</ul>
		<header>
			<h3>Archive</h3>
		</header>
		<ul class="style3">
			<li class="first">
				<p class="date"><a href="{{ site.Params.archiveURL }}">Past SYNT</a></p>
			</li>
		</ul>
	</section>
</div>
